.DS_Store
.env.json

deployContract/artifacts
deployContract/cache
deployContract/node_modules

# Virtual environment
.venv

__pycache__

# Where the image archives are saved
cached_data

#
backend/.env

.DS_Store

node_modules

# hard hat
cache
artifacts

*.glb
